<div class="header" ng-controller="HeaderController">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/ideas">Ideas</a></li>
    <li ng-show="isAuthenticated"><a ng-href="#/newIdea">New idea</a></li>
    <li ng-show="isAuthenticated"><a ng-href="#/myIdeas">My ideas</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/Contact">Contact</a></li>
    <li ng-show="isAuthenticated">
      <a>{{email}}</a>
    </li>
    <li ng-show="isAuthenticated"><a ng-click="logOut()">LogOut</a></li>
  </ul>
  <a ng-href="#/ideas"><h3 class="text-muted">Ideaer</h3></a>
</div>

