<!-- Modal -->
<div class="modal fade" id="ideaNotFound" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
          class="sr-only">Close</span></button>
        <h4 class="modal-title" id="deleteIdeaLabel">Idea not found</h4>
      </div>
      <div class="modal-body">
        <p> The action you tried to perform could not be completed because the idea could not be found. Either the idea
          has
          been deleted or you are looking for an idea that does not exist. </p>
      </div>
      <div class="modal-footer">
        <a ng-href="#/ideas">
          <button type="button" class="btn btn-default">Close</button>
        </a>
      </div>
    </div>
  </div>
</div>
