<div>
  <div class="alert alert-success" ng-show="bought">
    {{message}}
  </div>

  <ul ng-if="ideas" class="media-list">
    <li class="media row" ng-repeat="idea in ideas ">
      <div class="media-body col-md-8">
        <a ng-href="#/idea/{{idea.id}}">
          <h4 class="media-heading">{{idea.name}}</h4>
        </a>

        <p>{{idea.description}}</p>

        <!--  <div class="row">
            <div class="col-md-6  well well-sm">
              <p class="text-muted"><strong>Creator:</strong> {{idea.owner.email}} <br>
                <strong>Published:</strong> {{idea.published}}<br>
                <strong>Buyer:</strong> {{idea.buyer}}</p>
            </div>
          </div>-->
      </div>

      <div class="media-right col-md-4 well well-sm">
        <div class="btn-group-vertical">
          <button class="btn btn-danger" ng-click="showDeleteDialog(idea, $index)">
            Delete
          </button>
        </div>
        <p class="text-muted idea-info">
          <strong>Creator:</strong> {{idea.owner.email}} <br>
          <strong>Published:</strong> {{idea.published}}<br>
          <strong>Buyer:</strong> {{idea.buyer}}
        </p>
      </div>
    </li>
  </ul>
  <div ng-if="ideas.length == 0" class="well well-sm">
    <h3>No ideas exist in the system!</h3>
  </div>
</div>
<div ng-include="'views/deleteDialog.html'">
</div>

