<div>
  <div class="alert alert-success" ng-show="message != null">
    {{message}}
  </div>
  <div ng-if="ideas.length == 0" class="well well-sm">
    <h3>You don't have any ideas yet, create some to get started! </h3>
    <a ng-href="#/newIdea">
      <button type="button" class="btn btn-default" ng->
        Create a new Idea
      </button>
    </a>
  </div>
  <ul ng-if="ideas.length > 0" class="media-list">
    <li class="media" ng-repeat="idea in ideas ">
      <div class="media-body">
        <h4 class="media-heading">
          <a ng-href="#/idea/{{idea.id}}">{{idea.name}}</a>
          <span ng-show="idea.published" class="label label-info">public</span>
        </h4>

        <p>{{idea.description}}</p>

        <div class="well" ng-show="idea.buyer">
          <h5>Pending buy request from:</h5>

          <p>Buyer name: {{idea.buyer.first_name}} {{idea.buyer.last_name}}<br>

            Email: {{idea.buyer.email}}<br>

            Phone number: {{idea.buyer.phone}}</p>
        </div>
      </div>
      <div class=" media-bottom btn-group" role="group" aria-label="...">
        <button ng-show="!idea.published" type="button" class="btn btn-default"
                ng-click="publishIdea(idea, $index, true)">
          Publish
        </button>
        <button ng-show="idea.published && !idea.buyer" type="button" class="btn btn-default"
                ng-click="publishIdea(idea, $index, false)">
          Un publish
        </button>
        <button ng-show="idea.buyer" type="button" class="btn btn-default"
                ng-click="respondToBuyRequest(idea, $index, true)">
          Accept buy
        </button>
        <button ng-show="idea.buyer" type="button" class="btn btn-default"
                ng-click="respondToBuyRequest(idea, $index, false)">
          Decline buy
        </button>
        <button ng-show="!idea.buyer && !idea.published" type="button" class="btn btn-danger"
                ng-click="showDeleteDialog(idea, $index)">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
<div ng-include="'views/deleteDialog.html'">

</div>
