<div class="block">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Login</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form role="form">
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" class="form-control" ng-model="formData.email" id="userName"
                 placeholder="Enter your username">
        </div>
        <div class="form-group">
          <label for="userPassword">Password</label>
          <input type="password" class="form-control" ng-model="formData.pass" id="userPassword"
                 placeholder="Enter your password">
        </div>

        <button ng-click="login(formData.email, formData.pass)" class="btn btn-default">
          Login
        </button>
      </form>
      <!--<div ng-model="response">
              Status: 	{{response.status}} <br>
              Reason: 	{{response.header}}<br>
              Session ID: {{response.config}}
          </div> -->

      <div class="alert alert-success" role="alert" ng-show="successMsgVisible">Okay, you're now logged in. <br>


      </div>
      <div class="alert alert-danger" role="alert" ng-show="errorMsgVisible">Username or password incorrect.</div>
    </div>
  </div>

</div>
