<div>
  <form name='newIdeaForm' role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" id="name" placeholder="Enter idea name" ng-model="newIdea.name">
    </div>
    <div class="form-group">
      <label for="desctiprion">Description</label>
      <textarea class="form-control" id="desctiprion" placeholder="Enter idea description"
                ng-model="newIdea.description"></textarea>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" placeholder="Enter email for the entrepreneur"
             ng-model="newIdea.email">
    </div>
    <div class="form-group">
      <label for="owner">Owner</label>
      <input class="form-control" type="text" id="owner" placeholder="Enter name for the entrepreneur"
             ng-model="newIdea.owner">
    </div>
    <div class="form-group">
      <label for="key_words">Keywords</label>
      <textarea class="form-control" id="key_words" placeholder="Enter keywords"
                ng-model="newIdea.keywords"></textarea>
    </div>
    <!--
        <button ng-click="addNewIdea(newIdeaForm)" class="btn btn-default">
          Add
        </button>
    -->
    <button ng-click="
    addNewIdea(newIdea.name
    , newIdea.description
    , newIdea.email
    , newIdea.owner
    , newIdea.keyWords
    )" class="btn btn-default">
      Add
    </button>
  </form>
</div>
<div>
  <h3>Preview of your new idea</h3>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">{{newIdea.name}}</h4>

      <p>{{newIdea.description}}</p>
    </div>
  </div>
</div>
